<header>
  <a class="site-logo" href="/">
    Bike Time Training Buddy! 🕵️
  </a>
  {{#if isLoggedIn}}
    <a href="/">Home</a>
    <a href="/calculate">Time Calculator</a>
    <a href="/log">Training Log</a>
    <a href="/api/logout">Logout</a>
   
  {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
  {{/if}}
</header>
