{{> header}}
<main>
  <h1>Welcome to the Bike Time Training Webstite!</h1>
  <p>On this website you can calculate your bike time by entering your distance and speed.{{#unless isLoggedIn}} NOT {{/unless}}</p>
  <p>Please Login or Sign Up to get started{{#unless isLoggedIn}}{{/unless}}  <a href="/calculate">Start Logging Bike Training Times</a>.</p>
  <p>When you are finished {{#if isLoggedIn}}please log out{{else}} don't forget to Logout{{/if}}.</p>
</main>
